# Part-I

# Objective: Analysing IoT Data with Spark Sql

The objective of this case study is to analyse sensor data, which is presented in JSON format, using Spark SQL.


Dataset (iot_devices.json): The dataset has the following attributes

* Device ID
* Device Name
* IP Address
* Cca2 - country code
* Cca3 - country name
* Cn - Full name of country
* Latitude
* Longitude
* Scale
* Temperature
* Humidity
* Battery Level
* CO2 level
* LCD Status
* Timestamp

Task:

1. Read the data into a Dataframe.
2. Convert the Dataframe into a temporary view called iot.
3. Count how many devices are there from each country and display the output.
4. Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.
5. Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids (Hint: For high CO2 level, the LCD status will be RED).
find out all devices in countries whose batteries need replacements.

In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal InRelease
Get:6 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Hit:7 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:8 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Get:9 http://archive.ubuntu.com/ubuntu focal-backports InRelease [108 kB]
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Get:12 http://archive.ubuntu.com/ubuntu focal-updates/universe amd64 Packages [1,372 kB]
Fetched 1,594 kB in 2s (871 kB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
15 packages can be upgraded. Run 'apt list --upgradable' to see them.

In [ ]:
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
import findspark
findspark.init()
findspark.find()

'/content/spark-3.1.1-bin-hadoop3.2'

In [ ]:
# Import necessary libraries

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F
from pyspark import SparkFiles

In [ ]:
spark = SparkSession.builder.appName("Analysing Iot Data").getOrCreate()
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
## 1. Read the data into a Dataframe

# Set the output file path
output_file_path = '/content/drive/MyDrive/Colab Notebooks/iot_devices.json'

# Read the file into a Spark DataFrame
df = spark.read.json(output_file_path)

# Display the DataFrame
df.show(10)

+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 10 rows

In [ ]:
df.printSchema()

root
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

In [ ]:
# 2. Convert the Dataframe into a temporary view called iot.

df.createOrReplaceTempView("IOT")

In [ ]:
df1 = spark.sql("SELECT * FROM IOT")
df1.show()

+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows

In [ ]:
df1.columns

['battery_level',
 'c02_level',
 'cca2',
 'cca3',
 'cn',
 'device_id',
 'device_name',
 'humidity',
 'ip',
 'latitude',
 'lcd',
 'longitude',
 'scale',
 'temp',
 'timestamp']

In [ ]:
# 3. Count how many devices are there from each country and display the output

spark.sql(" SELECT cn, COUNT(device_name) AS no_of_devices FROM IOT GROUP BY cn ORDER BY cn").show(50)

+--------------------+-------------+
|                  cn|no_of_devices|
+--------------------+-------------+
|                    |         1810|
|         Afghanistan|           19|
|             Albania|           32|
|             Algeria|           34|
|      American Samoa|            3|
|             Andorra|            4|
|              Angola|           28|
|            Anguilla|            7|
| Antigua and Barbuda|           60|
|           Argentina|          978|
|             Armenia|           34|
|               Aruba|            8|
|           Australia|         3119|
|             Austria|         1462|
|          Azerbaijan|           49|
|             Bahamas|           18|
|             Bahrain|           55|
|          Bangladesh|          153|
|            Barbados|           38|
|             Belarus|          123|
|             Belgium|          666|
|              Belize|           13|
|               Benin|            3|
|             Bermuda|           53|
|              Bhutan|            8|
|             Bolivia|          108|
|Bosnia and Herzeg...|          106|
|            Botswana|           12|
|              Brazil|         3224|
|British Indian Oc...|            2|
|British Virgin Is...|            6|
|              Brunei|           19|
|            Bulgaria|         1334|
|        Burkina Faso|           24|
|            Cambodia|           43|
|            Cameroon|           29|
|              Canada|         6041|
|      Cayman Islands|           26|
|               Chile|          371|
|               China|        14455|
|            Colombia|          423|
|               Congo|            8|
|        Cook Islands|            3|
|          Costa Rica|          116|
|             Croatia|          193|
|                Cuba|           15|
|             Curaçao|           36|
|              Cyprus|           93|
|      Czech Republic|         1507|
|             Denmark|         1190|
+--------------------+-------------+
only showing top 50 rows

In [ ]:
spark.sql("SELECT cn, COUNT(cn) FROM IOT GROUP BY cn").show(5)

+-------------------+---------+
|                 cn|count(cn)|
+-------------------+---------+
|             Russia|     5989|
|           Paraguay|       32|
|           Anguilla|        7|
|              Macao|       33|
|U.S. Virgin Islands|       51|
+-------------------+---------+
only showing top 5 rows

In [ ]:
spark.sql("select cca3, count(distinct device_id) as device_id from IOT group by cca3 order by device_id desc limit 50").show();

+----+---------+
|cca3|device_id|
+----+---------+
| USA|    70405|
| CHN|    14455|
| JPN|    12100|
| KOR|    11879|
| DEU|     7942|
| GBR|     6486|
| CAN|     6041|
| RUS|     5989|
| FRA|     5305|
| BRA|     3224|
| AUS|     3119|
| ITA|     2915|
| SWE|     2880|
| POL|     2744|
| NLD|     2488|
| ESP|     2310|
| TWN|     2128|
| IND|     1867|
| CZE|     1507|
| NOR|     1487|
+----+---------+
only showing top 20 rows

In [ ]:
# 4. Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.

count = "Count of Devices with CO2 more than 1400"

df3 = spark.sql("SELECT cn, COUNT(distinct device_id) AS count FROM IOT WHERE c02_level > 1400 GROUP BY cn ORDER BY count DESC")

df3.show()

+-----------------+-----+
|               cn|count|
+-----------------+-----+
|    United States|17050|
|            China| 3616|
|Republic of Korea| 2942|
|            Japan| 2935|
|          Germany| 1966|
|   United Kingdom| 1660|
|           Canada| 1564|
|           Russia| 1508|
|           France| 1353|
|           Brazil|  856|
|        Australia|  769|
|           Sweden|  724|
|            Italy|  713|
|           Poland|  664|
|      Netherlands|  646|
|            Spain|  586|
|           Taiwan|  542|
|            India|  446|
|                 |  427|
|           Norway|  399|
+-----------------+-----+
only showing top 20 rows

In [ ]:
spark.sql("SELECT cn,c02_level FROM IOT WHERE c02_level > 1400 ORDER BY c02_level DESC").show(20)

+--------------+---------+
|            cn|c02_level|
+--------------+---------+
|        Poland|     1599|
|         Spain|     1599|
| United States|     1599|
|         Japan|     1599|
|       Germany|     1599|
|   Philippines|     1599|
|        Canada|     1599|
|        Canada|     1599|
| United States|     1599|
| United States|     1599|
| United States|     1599|
|        France|     1599|
| United States|     1599|
|Czech Republic|     1599|
|         China|     1599|
|         Japan|     1599|
|        Turkey|     1599|
| United States|     1599|
|Czech Republic|     1599|
| United States|     1599|
+--------------+---------+
only showing top 20 rows

In [ ]:
# Select all countries' devices with high-levels of C02 and group by cca3 and order by device_ids
# (Hint: For high CO2 level, the LCD status will be RED).

In [ ]:
spark.sql("SELECT cca3, count(distinct device_id) as device_id FROM IOT WHERE lcd == 'red' GROUP BY cca3 ORDER BY device_id").show()

+----+---------+
|cca3|device_id|
+----+---------+
| LBR|        1|
| TLS|        1|
| AND|        1|
| CIV|        1|
| MHL|        1|
| SLB|        1|
| TJK|        1|
| FSM|        1|
| IOT|        1|
| TKM|        1|
| GGY|        1|
| GIB|        1|
| FLK|        1|
| REU|        1|
| GAB|        1|
| TGO|        2|
| LCA|        2|
| FJI|        2|
| YEM|        2|
| IRQ|        2|
+----+---------+
only showing top 20 rows

In [ ]:
spark.sql("SELECT cn,device_name,c02_level,lcd FROM IOT WHERE lcd == 'red' ").show(50)

+-----------------+--------------------+---------+---+
|               cn|         device_name|c02_level|lcd|
+-----------------+--------------------+---------+---+
|           Norway|   sensor-pad-2n2Pea|     1473|red|
|            Italy| device-mac-36TWSKiT|     1556|red|
|            Japan|sensor-pad-8xUD6p...|     1536|red|
|    United States|sensor-pad-10Bsyw...|     1470|red|
|            Italy|meter-gauge-11dlM...|     1544|red|
|    United States|sensor-pad-16aXmI...|     1425|red|
|    United States|meter-gauge-17zb8...|     1466|red|
|    United States|meter-gauge-19eg1...|     1531|red|
|            Japan|  sensor-pad-22oWV2D|     1522|red|
|           Canada|sensor-pad-24Pytz...|     1511|red|
|Republic of Korea|  device-mac-27P5wf2|     1597|red|
|Republic of Korea|sensor-pad-28Tsud...|     1502|red|
|          Ukraine|meter-gauge-47WsF9s8|     1454|red|
|           Sweden|meter-gauge-534fD...|     1446|red|
|    United States|sensor-pad-5410CW...|     1436|red|
|    United States|device-mac-57tRB0...|     1503|red|
|    United States|  sensor-pad-64djcIn|     1524|red|
|   Czech Republic|sensor-pad-663dzo...|     1482|red|
|            India|meter-gauge-77IKW...|     1454|red|
|Republic of Korea|sensor-pad-78PkeI...|     1493|red|
|          Germany|meter-gauge-89fFs...|     1423|red|
|          Ecuador|therm-stick-95LXC...|     1553|red|
|            Japan|meter-gauge-97K6l...|     1593|red|
|Republic of Korea|meter-gauge-1033M...|     1432|red|
|            Japan|meter-gauge-1075K...|     1553|red|
|          Hungary|sensor-pad-110djs...|     1412|red|
|        Venezuela|sensor-pad-112pG1...|     1449|red|
|    United States| sensor-pad-11663yUf|     1480|red|
|            China|device-mac-117mcc...|     1538|red|
|         Thailand|meter-gauge-119M2...|     1541|red|
|    United States|device-mac-123zvY...|     1520|red|
|        Indonesia|device-mac-129noC...|     1405|red|
|            China|sensor-pad-1362BA...|     1477|red|
|Republic of Korea|meter-gauge-139M6...|     1438|red|
|Republic of Korea|device-mac-1415eV...|     1515|red|
|    United States|sensor-pad-146YKk...|     1562|red|
|    United States|sensor-pad-150E4M...|     1405|red|
|   United Kingdom|meter-gauge-157Xy...|     1521|red|
|    United States|sensor-pad-162AFo...|     1565|red|
|            China| sensor-pad-166l1yEA|     1500|red|
|    United States|meter-gauge-167c4...|     1532|red|
|    United States|meter-gauge-169Cs...|     1469|red|
|            China|meter-gauge-173JD...|     1487|red|
|           Greece|sensor-pad-178naP...|     1509|red|
|Republic of Korea|sensor-pad-186cRw...|     1522|red|
|          Germany|meter-gauge-191Ln...|     1429|red|
|           France|sensor-pad-196gGPVR0|     1592|red|
|    United States|sensor-pad-198i0dgLr|     1433|red|
|           France|sensor-pad-204eDpACN|     1472|red|
|          Belgium|device-mac-2071N0...|     1454|red|
+-----------------+--------------------+---------+---+
only showing top 50 rows

In [ ]:
 # find out all devices in countries whose batteries need replacements.

df.select("battery_level").show(10)

+-------------+
|battery_level|
+-------------+
|            8|
|            7|
|            2|
|            6|
|            4|
|            3|
|            3|
|            0|
|            3|
|            7|
+-------------+
only showing top 10 rows

In [ ]:
spark.sql("SELECT DISTINCT battery_level FROM IOT ASC").show()

+-------------+
|battery_level|
+-------------+
|            0|
|            7|
|            6|
|            9|
|            5|
|            1|
|            3|
|            8|
|            2|
|            4|
+-------------+

In [ ]:
spark.sql("SELECT cn, COUNT(DISTINCT device_id) as device_id FROM IOT where battery_level == 0 group by cn order by device_id desc").show(50)

+--------------------+---------+
|                  cn|device_id|
+--------------------+---------+
|       United States|     6858|
|               China|     1415|
|   Republic of Korea|     1217|
|               Japan|     1210|
|             Germany|      760|
|      United Kingdom|      650|
|              Canada|      612|
|              Russia|      600|
|              France|      582|
|              Brazil|      374|
|           Australia|      322|
|              Sweden|      293|
|               Italy|      287|
|              Poland|      278|
|         Netherlands|      251|
|               Spain|      223|
|              Taiwan|      207|
|               India|      189|
|                    |      177|
|           Hong Kong|      149|
|             Ukraine|      149|
|         Switzerland|      143|
|            Bulgaria|      143|
|             Austria|      132|
|      Czech Republic|      130|
|           Argentina|      129|
|              Norway|      122|
|              Mexico|      117|
|             Denmark|      110|
|           Singapore|      105|
|             Romania|      101|
|            Thailand|       92|
|            Malaysia|       85|
|             Finland|       76|
|              Turkey|       72|
|             Hungary|       68|
|        South Africa|       67|
|             Belgium|       65|
|              Israel|       63|
|         Philippines|       62|
|           Indonesia|       61|
|             Ireland|       48|
|                Iran|       46|
|              Greece|       41|
|            Portugal|       39|
|            Colombia|       36|
|               Chile|       34|
|Republic of Lithu...|       34|
|              Latvia|       31|
|         New Zealand|       29|
+--------------------+---------+
only showing top 50 rows

In [ ]:
spark.sql("SELECT cn,device_name,battery_level FROM IOT WHERE battery_level == 0").show()

+-----------------+--------------------+-------------+
|               cn|         device_name|battery_level|
+-----------------+--------------------+-------------+
|            Japan|sensor-pad-8xUD6p...|            0|
|    United States|sensor-pad-12Y2kIm0o|            0|
|    United States|meter-gauge-17zb8...|            0|
|          Germany| sensor-pad-448DeWGL|            0|
|           Canada|sensor-pad-80TY4d...|            0|
|Republic of Korea| sensor-pad-92vxuq7e|            0|
|    United States|sensor-pad-98mJQA...|            0|
|            Japan|meter-gauge-1075K...|            0|
|        Australia|device-mac-111WYt...|            0|
|    United States| sensor-pad-11663yUf|            0|
|            China|device-mac-117mcc...|            0|
|    United States|device-mac-123zvY...|            0|
|    United States|meter-gauge-131Lb...|            0|
|    United States|sensor-pad-1344UG...|            0|
|          Germany|sensor-pad-140tq1s6t|            0|
|            China|meter-gauge-151Gj...|            0|
|            China|sensor-pad-156nfj...|            0|
|    United States|meter-gauge-167c4...|            0|
|    United States|meter-gauge-1794X...|            0|
|     South Africa|sensor-pad-180lj1...|            0|
+-----------------+--------------------+-------------+
only showing top 20 rows